<div>
    <form action='/search/' method='GET' class="d-flex">
        <select class='form-control' name='type' id='search-type'>
            <option value='article' {% if request.GET.type == 'article' %}selected{% endif %}>Articles</option>
            <option value='recipe' {% if request.GET.type == 'recipe' %}selected{% endif %}>Recipes</option>           
        </select>
        
        <input class="form-control me-2"  type='text' id='search-query' name='q' value='{{ request.GET.q }}' hx-get='/search/' hx-trigger='keyup changed delay:200ms' hx-include='#search-type' hx-target='#typeahead-results' />
        
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <div id='typeahead-results'></div>
</div>
